.container {
  width: 100%;
  height: 300px;
  background-color: #0c0326;
  display: flex;
  flex-direction: row;
}

.colContainer {
  width: 120px;
  height: 100%;
  background-color: #0c0326;
}

.infoContainer {
  height: 100%;
  background-color: #0c0326;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.titleContainer {
  width: 80%;
  height: fit-content;
  background-color: #0c0326;
  margin-top: 40px;
  margin-bottom: 9px;
}

.movieTitle {
  color: #fffaf5;
  font-family: 'InterBold';
  text-wrap: break-word;
  font-size: 30px;
  padding: 0 20px;
  text-align: left;
}

.info {
  width: 100%;
  height: 60%;
  background-color: #0c0326;
}

.info1 {
  max-width: 100%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  background-color: #0c0326;
}

.infofo {
  display: flex;
  flex-direction: column;
  background-color: #1a1444;
  text-align: center;
  //border: white solid 0.5px;
}

.infoTitle {
  font-size: 20px;
  color: #fffaf5;
  margin-top: 3px;
  margin-bottom: 8px;
}

.infoData {
  font-size: 40px;
  font-family: 'Lilita One';
  color: #fffaf5;
}

.info2 {
  width: 100%;
  height: 50%;
  background-color: #fffaf5;
}

.closeButton {
  border-radius: 45px;
  width: 60px;
  height: 60px;
  background-color: #fffaf5;
  border-style: hidden;
  margin-top: 20px;
}

.closeSVG {
  width: 30px;
  height: 30px;
}
