.headerContainer{
    height: 150px;
    width: 100%;
    display: flex;
    background-color: #231B5B;
    justify-content: space-between;
    .headerLogo{
        width: fit-content;
        height: 100%;
        margin-left: 5%;
        img{
            width: 80%;
            height: 80%;
        }
    }
    .headerOthers{
        width: 40%;
        height:100%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        justify-content: space-around;
        .searchAndSignInContainer{
            width: 100%;
            height: 30%;
            display: flex;
            padding-left: 6%;
            flex-direction: row;
            justify-content: flex-end;
            background-color: #231B5B;
            .search{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: row;
                border-radius: 45px;
                background-color: white;
                justify-content: flex-end;
                margin-right: 7%;
                .searchInput{
                    width: 85%;
                    height: 90%;
                    border-radius: 45px;
                    border: none;
                    font-size: 20px;
                    font-family: "Lilita One";
                    padding-left: 10px;
                    align-self: center;
                }
                .searchLogo{
                    width: 7%;
                    height: 90%;
                    margin-right: 5%;
                    border-radius: 45px;
                    font-size: 20px;
                    font-family: "Lilita One";
                    padding-left: 10px;
                    align-self: center;
                }
            }
            .signIn{
                display: flex;
                width: 20%;
                height: 100%;
                justify-content: center;
                cursor: pointer;
                .signInText{
                    align-self: center;
                    font-family: "Lilita One";
                    color: white;
                    font-size: 25px;
                }
            }
            .signIn :hover{
                color: #BEBEBE;
            }
            .signIn :active{
                color: red;
            }
        }
        .NavBar{
            width: 89%;
            height: 33%;
            display: flex;
            border-radius: 45px;
            border-width: 10px;
            border-color: white;
            left: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .NavBarText{
                color: white;
                font-family: "Lilita One";               
                font-size: 20px;
            }
        }
        .NavBar a {
            
            height: 100%;
            width: 27%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: white solid 1px;
            border-top-left-radius: 45px;
            border-bottom-left-radius: 45px;
        }
        
        /* Change the color of links on hover */
        .NavBar a:hover {
            background-color: #1A1444;
            color: white;
        }
    
        /* Add a color to the active/current link */
        .NavBar a.active {
            background-color: #1A1444;
            color: white;
        }
        .NavBar a.BetweenNav{
            width: 23%;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;

        }
        .NavBar a.EndNav{
            border: white solid 1px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 45px;
            border-bottom-right-radius: 45px;
            
        }
    }
}