.movieBlockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    flex: 0.8;
}

.imageContainer img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}

.movieName {
    flex: 0.2;
    background-color: blue;
}

.movieName p {
    text-align: center;
    font-family: "InterBold";
    text-wrap: break-word;
    padding: 0 20px;
}