.container {
    display: flex;
    flex-direction: column;
}

.imageContainer {
    flex: 0.8;
    background-color: red;
}

.imageContainer img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 300px;
    pointer-events: none;
}

.movieName {
    flex: 0.2;
    background-color: blue;
}

.movieName p {
    text-align: center;
    font-family: "InterBold";
    text-wrap: break-word;
    padding: 1em;
}