.movieBlockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    flex: 0.8;
    margin: 0 10px;
}

.imageContainer img {
    width: 100%;
    height: 300px;
    display: block;
    pointer-events: none;
}

.movieName {
    flex: 0.2;
}

.movieName p {
    text-align: center;
    font-family: "InterBold";
    text-wrap: break-word;
    padding: 0 20px;
}

.descriptionContainer {
    background-color: rgba(35,27,91,0.8);
    box-shadow: 10px 10px 0 rgba(35,27,91,0.5);
    border: 1px solid #fbdbbd;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 20px;
    text-align: center;
    height: 300px;
    width: 80%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.descriptionContainer p {
    flex: 0.4;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Lilita One;
    color: #FFFAF5;
}

.descriptionContainer .detail {
    flex: 0.1;
    cursor: pointer;
    width: 50%;
    background-color: #B14892;
    border-radius: 20px;
    color: #FFFAF5;
    font-family: Lilita One;
}

.descriptionContainer .detail:hover {
    background-color: #5F0A89;

}

.descriptionContainer .booking {
    flex: 0.2;
    cursor: pointer;
    width: 100%;
    background-color: #900C3F;
    border-radius: 30px;
    color: #FFFAF5;
    font-family: InterBold;
}

.descriptionContainer .booking:hover {
    background-color: #D80032;
}

.scale {
    animation: scale 0.3s linear;
}

.booking:hover {
    animation: colorTransform 2s infinite;
}

@keyframes scale {
    from {
        visibility: hidden;
        transform: scale(0.5);
    }
    to {
        visibility: visible;
        transform: scale(1);
    }
}

@keyframes colorTransform {
    0% {
      background-color: #D80032;
    }
    50% {
      background-color: #FF4081;
    }
    100% {
      background-color: #D80032;
    }
  }