

.text {
  font-family: "Lilita One";
  font-size: 300px;
}

//font
@font-face {
  font-family: "InterRegular";
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}
.inter-regular{
  font-family: "InterRegular";
}

@font-face {
  font-family: "InterBold";
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
}
.inter-bold{
  font-family: "InterBold";
}

@font-face {
  font-family: "InterExtraBoldItalic";
  src: url("../assets/fonts/Inter-ExtraBold.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
.inter-extrabold-italic{
  font-family: "InterExtraBoldItalic";
}

@font-face {
  font-family: "Lilita One";
  src: url("../assets/fonts/LilitaOne-Regular.ttf") format("truetype");
}
.lilita-one{
  font-family: "Lilita One";
}