.Container {
    width: 100%;
    background-color: #231b5b;
    height: max-content;
   }
.mainContainer{
    display: flex;
    width: 70%;
    height: 100vh;
    .mainContainer_left{
        width: 30%;
        display: flex;
        justify-content: center;
        height: 100%;
        
    }
    .mainContainer_right{
        width: 70%;
        background-color: aquamarine;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .infoContainer{
            background-color: #D80032;
            width: 76%;
            height: 87%;
            display: none;
            justify-content: center;
            align-items: center;
        }
        .accountContainer{
            background-color: #4df552;
            width: 76%;
            height: 87%;
            display: none;
            justify-content: center;
            align-items: center;
        }
        .memberContainer{
            background-color: #F5D442;
            width: 76%;
            height: 87%;
            display: none;
            justify-content: center;
            align-items: center;
        }
        .settingContainer{
            background-color: #D85552;
            width: 76%;
            height: 87%;
            display: none;
            justify-content: center;
            align-items: center;
        }
        .active-content{
            display: flex;
        }

    }
}