@font-face {
    font-family: "InterRegular";
    src: url("./Inter-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "InterBold";
    src: url("./Inter-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "InterExtraBoldItalic";
    src: url("./Inter-ExtraBold.ttf") format("truetype");
    /* font-style: italic;
    font-weight: 900; */
}
@font-face {
    font-family: "Lilita One";
    src: url("./LilitaOne-Regular.ttf") format("truetype");
}
