.container {
    background-color: #231B5B;
}

.contentContainer {
    background-color: #f9dec9;
    margin: auto;
    padding: 30px 0px;
}

.movieWrap {
    width: 90%;
    display: block;
    margin: 50px auto;
  }

.splide__prevArrow {
left: -4em;
}

.splide__nextArrow {
right: -4em;
}

.arrow:hover {
    opacity: 0.8;
    cursor: pointer;
}

.arrowRight {
transform: rotate(180deg);
}