.container{
    display: flex;
    justify-content: space-around;
}
.input{
    align-self: center;
}
@font-face {
    font-family: "Lilita One";
    src: url("../../assets/fonts/LilitaOne-Regular.ttf") format("truetype");
  }
  .lilita-one{
    font-family: "Lilita One";
  }