.container {
  width: 100%;
  height: max-content;
  background-color: #f9dec9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  width: 80%;
  height: 60%;
  background-color: #ffffff;
  margin: 20px;
}

.boxTitle {
  font-size: 30px;
  font-family: 'Lilita One';
  font-weight: bold;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.boxTitle1 {
  font-size: 25px;
  font-family: 'InterRegular';
  font-weight: 900;
  color: #0c0326;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.counterContainer {
  display: flex;
  flex-direction: row;
  //justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.iconContainer {
  width: 50px;
  height: 50px;
  border: 'black';
  border-width: 5px;
  color: #0c0326;
  margin-left: 10px;
  margin-right: 10px;
}

.inputContainer {
  width: 60px;
  height: auto;
  background-color: #ffffff;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  text-align-last: center;
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    font-size: x-large;
    font-family: 'Lilita One';
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;
  }
}

.totalContainer {
  flex-direction: column;
  display: flex;
  background-color: #f9dec9;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.total {
  flex-direction: row;
  display: flex;
  margin-left: 20vw;
}

.totalTitle {
  color: #0c0326;
  font-family: 'Lilita One';
  font-size: 2.5vw;
  margin-right: 20px;
}

.totalC {
  color: #c70039;
  font-family: 'Lilita One';
  font-size: 2.5vw;
  margin-right: 10px;
}

.btnContainer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.btnNext {
  background-color: #c70039;
  height: 60px;
  width: 250px;
  border: none;
  border-radius: 60px 60px 60px 0px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fffaf5;
  font-family: 'InterBold';
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;
}

.btnReturn {
  background-color: #f78ca2;
  height: 60px;
  width: 250px;
  border: none;
  border-radius: 60px 60px 0px 60px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fffaf5;
  font-family: 'InterBold';
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}
