.container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.btnContainer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.btnNext {
  background-color: #c70039;
  height: 60px;
  width: 250px;
  border: none;
  border-radius: 60px 60px 60px 0px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fffaf5;
  font-family: 'InterBold';
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;
}

.btnReturn {
  background-color: #f78ca2;
  height: 60px;
  width: 250px;
  border: none;
  border-radius: 60px 60px 0px 60px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fffaf5;
  font-family: 'InterBold';
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}
